<div class="foog_gallery">
    <ul>
        <li *ngFor="let item of foodItemList; let i = index">
            <img [src]="item.image" />
            <div class="food_1">
                <h2>{{item.title}} <span>{{item.rating}}</span></h2>
                <p>{{item.copy}}</p>                
            </div>
            <div class="food_2">
                {{item.offer}}
            </div>
            <div class="food_3">
                <button (click)="buyNow(i)">Buy Now</button>
            </div>
        </li>
    </ul>
</div>
