ul{
    width: 90%;
    margin: 0 auto;
    display: grid;
    // grid-template-columns:29%  19% 10% 19% 19%;
    // grid-template-columns: repeat(5, 20%);
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 1%;
    background: slateblue;
}
li{
    list-style: none;
    padding: 5px;
    font-size: 16px;
    &:nth-child(even){
        background: skyblue;
        color: blue;
    }
    &:nth-child(odd){
        background: blue;
        color: skyblue;
    }

}